 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  --color-agro-primary : #e87722;
  --color-agro-secondary:#003087;
}
$theme-colors: (
  primary: #e87722,
  secondary:#003087
) ;
// @import url('https://fonts.cdnfonts.com/css/gotham');
*, html, button, a, p{
  font-family: 'verdana'
}


@import '../node_modules/bootstrap/scss/bootstrap';

.text-agro-primary{
  color: var(--color-agro-primary)
}
.text-agro-secondary{
  color: var(--color-agro-secondary);
}
body{
  min-height: 100vh;

}
