.header{
    margin: 10px;
    border-radius: 6px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px var(--color-agro-secondary ),
             0.3em 0.3em 1em var(--color-agro-primary );
}